$primary: #F7B40F;
$secondary: #CA2617;
$bg: #f8f9fd;
$text: #121212;
$white: #ffffff;
$danger: #DC3545;
$warning: #FFC107;
$success: #198754;
$info: #0DCAF0;
$table-striped-bg: $bg;
$table-hover-bg: $bg;
$input-border-color: $primary;
$spacing: 5px;
$font-size-base: 0.95rem;
$h6-font-size: 1.1rem;
$h5-font-size: 1.2rem;
$h4-font-size: 1.3rem;
$h3-font-size: 1.4rem;
$h2-font-size: 1.5rem;
$h1-font-size: 1.6rem;
